DATABASE_URL=postgresql://postgres:password@postgres:5432/app_development
REDIS_URL=redis://redis:6379/0
MEILISEARCH_URL=http://meilisearch:7700
MEILISEARCH_MASTER_KEY=masterKey
RAILS_MASTER_KEY=your_master_key_here
RAILS_ENV=development
